<h3>{{ 'Helm Chart Info' | translate }}</h3>

<div class="app-list-item">
  {{ 'Catalog' | translate }}:
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else catalog"></ngx-skeleton-loader>
  <ng-template #catalog>
    <ng-container *ngIf="app?.last_update?.$date; else notAvailable">
      {{ app?.catalog }}
    </ng-container>
  </ng-template>
</div>
<div class="app-list-item">
  {{ 'Train' | translate }}:
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else train"></ngx-skeleton-loader>
  <ng-template #train>
    <ng-container *ngIf="app?.last_update?.$date; else notAvailable">
      {{ app?.train }}
    </ng-container>
  </ng-template>
</div>
<div class="app-list-item">
  {{ 'Chart Version' | translate }}:
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else chartVersion"></ngx-skeleton-loader>
  <ng-template #chartVersion>
    <ng-container *ngIf="app?.last_update?.$date; else notAvailable">
      {{ app?.latest_version }}
    </ng-container>
  </ng-template>
</div>
<div class="app-list-item">
  {{ 'Maintainer' | translate }}:
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else notAvailable"></ngx-skeleton-loader>
</div>

<ng-template #notAvailable>
  {{ 'N/A' | translate }}
</ng-template>
